@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/PressStart2P.ttf');
}

h1 {
  text-align: center;
  font-family: 'PressStart2P';
}

td {
    border: black solid 1px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 4em;
}
td p {
  margin: 0;
}

table {
  height:400px;
  width:400px;
  margin: 0 auto;
}
